.jumbotron{
	background-color: lightblue  ;
	background-attachment: fixed;
	background-size:100% auto;
	margin-botom: 0px;
	min-height: 500px;
}

.name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
	}
	
.intro-text 	{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
    font-weight: 300;
}