.padding-top-10{
	padding-top: 10px;
}

.padding-top-15{
	padding-top: 15px;
}

.padding-top-80{
	padding-top: 80px;
}

.padding-top-40{
	padding-top: 40px;
}

.padding-bottom-50{
	padding-bottom: 50px;
}

.padding-bottom-30{
	padding-bottom: 30px;
}

.padding-bottom-80{
	padding-bottom: 80px;
}